<app-header></app-header>

<div>
<br/>
</div>

<div class="col-md-6 col-md-offset-3">
            <alert></alert>

    <div>
        <h3>Member Register Form</h3>    
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>   
      
        
    <table  width="650">
    
    <!-- 1 row -->
    
    <tr> 
    <td>
    
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !refmemberID.valid }">
            <label for="refmemberID">Reference member ID*</label>
            <input type="text" class="form-control" placeholder="Eg-GLGP600800" name="refmemberID" (change)="getMemberIDValidate()" [(ngModel)]="model.refmemberID" #refmemberID="ngModel" required />
            <div *ngIf="f.submitted && !refmemberID.valid" class="help-block">Member ID is required</div>
        </div>
        
    
    </td>
   
   <td width="40px;"></td>
   
    <td> 
         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="emailID">Email ID</label>
            <input type="text" class="form-control" name="emailID" [(ngModel)]="model.emailID" #emailID="ngModel" required />
            <div *ngIf="f.submitted && !emailID.valid" class="help-block">Email ID is required</div>
        </div>
    
    </td>
    
    
    </tr>
    
    
    <!-- 2 row  -->
    
   
      <tr> 
    <td>
    
   
     <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !selectedCountry.valid }">
      <label for="state">Country*</label>            
 	<select class="form-control" name ="selectedCountry"  [(ngModel)]="model.selectedCountry" #selectedCountry="ngModel" required>
 	<option *ngFor="let itemCountry of countryList" value="{{ itemCountry }}"> {{ itemCountry }} 
 	</option> 
 	</select>
 	            <div *ngIf="f.submitted && !selectedCountry.valid" class="help-block">Country is required</div>
 	
	</div>
       
    
    
    
    </td>
   
   <td width="40px;"></td>
   
<td> 

 <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
     <label for="phoneNumber">Phone Number</label>
     <input type="text" class="form-control" placeholder="Eg-8870477654" name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel" required />
     <div *ngIf="f.submitted && !phoneNumber.valid" class="help-block">Number is required</div>
 </div>
 
    
</td>
    
    
    </tr>
    
    
    
   
   

    <!-- 3 row start -->
    <tr> 
    <td>
    
     <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" placeholder="Eg-Alex" name="firstName"  [(ngModel)]="model.firstName" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
    
    </td>
   
   <td width="40px;"></td>
   
    <td> 
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" placeholder="Eg-Jeff" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
    
    </td>
    
    
    </tr>
    
    <!-- 4 row end -->
    
    <tr>
    <td>   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" placeholder="Eg-jeff@outlook.com" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        </td>
    <td width="40px;"></td> 
    <td> 
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
    </td>
    <tr>
    
    <!-- 5 row end -->
    
    <tr>
    <td>   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !bankName.valid }">
            <label for="bankName">Bank Name</label>
            <input type="text" class="form-control" placeholder="Eg-HSBC" name="bankName" [(ngModel)]="model.bankName" #bankName="ngModel" required />
            <div *ngIf="f.submitted && !bankName.valid" class="help-block">Bank Name is required</div>
        </div>
        </td>
    <td width="40px;"></td> 
    <td> 
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !bankAcctNumber.valid }">
            <label for="bankAcctNumber">Account No*</label>
            <input type="text" class="form-control" placeholder="Eg-100123454323" name="bankAcctNumber" [(ngModel)]="model.bankAcctNumber" #bankAcctNumber="ngModel" required />
            <div *ngIf="f.submitted && !bankAcctNumber.valid" class="help-block">A/C is required</div>
        </div>
    </td>
    <tr>
    
    
    </table>
    
   
        
 <div>
    <textarea style="height: 700px;" readonly> 
 Terms & Conditions
    1 Introduction
        Thank you for choosing our GSP program. This program is provided by Global Gains Limited. 
        This Terms & Conditions govern you on participating on our programs. By participating in the Program, you agree to the Terms and Conditions and the Privacy Policy.
            
    2 Definition & Interpretation
        a.	Global Save PartnershipisA program where partners can participate in portfoliosmanaged by Global Gains Limited; 
        b.	Partner	is A person who participate on the program;
        c.	Deposit	 is A fund that used to participate in the program;
        d.	Reward	is A incentives to partner whom has completed the program
    3 Eligible Users
        In order to access and use the Website and avail of any Facility, you must be an individual of legal age who can enter into legally binding contracts under applicable law or a corporation, association of persons or firm whom can enter into legally binding contracts under applicable law. In case of a corporation, association of persons or a firm, you must be authorized to agree to the Terms and Conditions and to access, use and avail of the Website and the Facilities. 
    4 Registration 
        You agree -
        a.to provide true, accurate, current and complete information about yourself as prompted by the registration form, and 
        b.	to inform time to time maintain and update this information to keep it true, accurate, current and complete at all times. 
        It is your responsibilities to keep Global Gains Limited update of your information when participating our GSP Program If any information provided by you is untrue, inaccurate, noncurrent or incomplete, Global Gains Limited will demand your update.
        You will be solely and absolutely responsible for maintaining the secrecy and confidentiality of all your IDs and passwords and you will be fully and absolutely responsible and liable for all activities that occur under your ID and password including any unauthorized use or misuse of your ID and/or password
        Any activity pursuant to use of your ID or Password shall be deemed to be your activity and Global Gains Limited shall have no obligation to verify the authenticity of any such activity. Global Gains Limited shall not be responsible for any mistake or error made by you in keying in the activity. 
     5 Liability
        These Terms and conditions are made by Global Gains Limited. By participating in the GSP Program, you agree to and are bound by the Program Terms and Conditions. If you do not wish to agree to and abide by the Program Terms and Conditions in their entirety, you are not authorized to participate in the Program.
        By participating in the Program, Partners release Global Gains Limited, from any and all liability for any loss, harm, damages, cost, or expense, arising out of or in any way connected to the Program and/or the use of any Program rewards.
        Upon Participate and made your registration with us in our GSP program, it is your responsibilities to made the GSP Program Deposit within 7 days from your date of registrations. Global Gains Ltd has the right to suspend your registration if we did not receive your GSP Program Deposit.
        You are aware that your GSP Program Deposit is refundable ONLY upon completions of the program, Global Gains Ltd provide NO TIME FRAME for your completion of the program. 
    6 Severability
        If any provision of the Terms and Conditions shall be held to be invalid or unenforceable by reason of any law or any rule, the validity of the remaining provisions and conditions shall not be affected thereby and these Terms shall be carried out.
    7 Disclaimer
        7.1 Computer System
        Global Gains Limited disclaims any liability for damage to any computer system resulting from participating in, or accessing or downloading information in connection with the Program, and reserve
        the right, in Global Gains Limited s sole discretion, to cancel, modify, or suspend the Program caused by virus, bug, computer problem, unauthorized intervention, or other causes beyond Global Gains Limited s control, corrupt the administration or security.
        7.2 Force Majeure
            No party hereto may be asked to responsible for any delay or obstacle to fulfill the obligations under this terms and conditions for any force majeure reason. Force majeure in this terms and conditions shall mean, fire, natural disaster (earthquake, typhoon, flood, thunderbolt), public strike, riot, war, or any other conditions beyond its control.
        7.3 Reserved Right
            Partners and prospective partners expressly understand and agree that: 
            
    A.	Your use of the program is at your sole risk, the program is provided on an as is and as available basis and the company expressly disclaims all warranties, terms and conditions of any kind, whether express or implied by statute, common law or custom, including, but not limited;
            
        B.	Global Gains Limited will try to fulfill the followings:
        i.	The program to meet your requirements.
        ii.	Be uninterrupted, timely, secure, or error-free.
        iii.The results obtained from the use of the program will be accurate or reliable.
        iv.	The quality of any products, services, information, or other material obtained by you through the program will meet your expectations;
        v.	Any errors in the service will be corrected .          
        C.	Any material downloaded or otherwise obtained through the use of the program is accessed at your own discretion and risk, and you will be solely responsible for any damage to your computer system or mobile device or loss of data that results from the download or use of any such material.  
        D.	Global Gains Limited has the right to maintain all the data.
            

    </textarea>      
</div>
<div>
        <input type="checkbox" ng-checked="all" name="agreement" [(ngModel)]="model.agreement" #agreement="ngModel" required>  I Agree<br>
        <div *ngIf="f.submitted && !agreement.valid" class="help-block">Agreement must selected</div>

    </div>

        
<!--        Submit button  -->  
     
        
        <div class="form-group">
<!--         <label> Silver (100 USD) </label>
 -->        <input type="radio"  name="actType" [(ngModel)]="model.actType"  value="silver"> Member (10 SGD) <br/>
                
                
<!--           <label> Gold (1000 USD) </label>        
 --> <input type="radio" name="actType" [(ngModel)]="model.actType" value="gold"> Franchise (1000 SGD) <br/>
       
       
<!--         <label> Platinum (1000 USD) </label>
 --> <input type="radio" name="actType" [(ngModel)]="model.actType"  value="platinum"> Master Franchise (10000 SGD)
        </div>
        
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':registersuccessdialog}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled2()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Registration successfully completed. Please check your email.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="success" (click)="onCloseHandled2()" >Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':userExsistdialog}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Username is already registered Please try again.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="success" (click)="onCloseHandled()" >Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':memberIDNotValiddialog}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Given Member is not Valid Please check.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="success" (click)="onCloseHandled()" >Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':otherErrordialog}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Network Issue Please try again.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="success" (click)="onCloseHandled()" >Close</button>
            </div>
        </div>
    </div>
</div>